.numpad {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 80%;
  padding-top: 20px;
}

.buttonRow {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.clearRow {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.clearButton {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  border: 0 solid transparent;
  font-size: 1.5em;
}

.button {
  color: #fff;
  min-width: 50px;
  min-height: 50px;
  width: 23%;
  height: 22%;
  padding-top: 2%;
  padding-bottom: 5%;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border: 0 solid transparent;
  font-size: 3em;
}
